@model List<WebAPI.Model.Cliente>

<h1>Lista de Clientes</h1>

<p>
    <a class="btn btn-sucess" asp-action="Create">Adicionar Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ClienteId</th>
            <th>Nome</th>
            <th>Email</th>
            <th>EnderecoId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.ClienteId</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.EnderecoId</td>
            </tr>
        }
    </tbody>
</table>
